*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/layout';
@import 'sass/typography';
@import 'sass/buttons';
@import 'sass/spacing';

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;

    scroll-behavior: smooth;

    background-color: $white-dark;
}

svg, img{
    width: 100%;
    display: block;
}

.border{
    border: 1px solid red;
}

@import 'sass/menu';
@import 'sass/swiper';
@import 'sass/icons';
@import 'sass/footer';
@import 'sass/animations';

